#h1 {
    text-align: center; 
    color: white; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .square {
      float: left;
      width: 30%;
      height: 0;
      padding-bottom: 30%;
      background-color: white;
      margin: 1.66%;
      border-radius: 15pt;
      transition-duration: 0.6s;
      transition:  0.5seg;
  }
  
  .container {
      max-width: 600px;
  }
  
  #stripe {
      background-color: white;
      height: 30px;
      text-align: center;
      border-radius: 4px;
  }
  
  .selected {
      background-color: tomato;
  }
  
  button{
      background-color: inherit;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      height: 100%;
      outline: none;
      border: none;
      transition: all 0.4s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  }
  
    button:hover{
      color: white;
      background: yellowgreen
    }
  
    #message{
      display: inline-block;
      width: 15%;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: black; 
    }

    .footer{
      text-align: center; 
      color: white; 
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    

    /*MIS MODIFICACIONES*/
    .square {
      transition: opacity 0.5s ease-in-out; /* Transición suave de la opacidad durante 0.5 segundos */
    }
  
    .square.hidden {
        opacity: 0; /* Hace que el elemento sea transparente */
        visibility: hidden; /* Oculta el elemento pero mantiene su espacio */
    }

/*CONFETI*//* 
 Define la animación para las serpentinas */
/* Define la animación para las serpentinas */
/* Define el estilo base para las serpentinas */
.confetti {
  width: 10px;
  height: 10px;
  position: fixed;
  opacity: 0.7;
  animation: fall 3s ease-in-out infinite;
  z-index: 9999; /* Ajusta el valor según sea necesario */
}

/* Define la animación de caída de las serpentinas */
@keyframes fall {
  0% {
      transform: translateY(-100vh) rotate(0deg);
  }
  100% {
      transform: translateY(100vh) rotate(360deg);
  }
}

/* Agrega la clase 'stop-confetti' para detener la animación */
.stop-confetti {
  animation: none !important;
}

